<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- META SECTION -->
    <title>TITLE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" th:href="@{/static/img/pln.ico}" type="image/x-icon" />
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" th:href="@{/static/css/theme-default.css}"/>
    <!-- EOF CSS INCLUDE -->
</head>
<body>
<!-- START PAGE CONTAINER -->
<div class="page-container">
    <!-- START PAGE SIDEBAR -->
    <div th:replace="shared/sidebar :: sidebar">
    </div>
    <!-- END PAGE SIDEBAR -->

    <!-- PAGE CONTENT -->
    <div class="page-content">
        <!-- START X-NAVIGATION VERTICAL -->
        <div th:replace="shared/header :: header"></div>
        <!-- END X-NAVIGATION VERTICAL -->

        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Link</a></li>
            <li class="active">Active</li>
        </ul>
        <!-- END BREADCRUMB -->

        <!--/*@thymesVar id="view" type=""*/-->
        <div th:replace="${view} :: content"></div>


    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

<!-- MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
            <div class="mb-content">
                <p>Are you sure you want to log out?</p>
                <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a th:href="@{/logout}" class="btn btn-success btn-lg">Yes</a>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MESSAGE BOX-->

<!-- START PRELOADS -->
<audio id="audio-alert" th:src="@{/static/audio/alert.mp3}" preload="auto"></audio>
<audio id="audio-fail" th:src="@{/static/audio/fail.mp3}" preload="auto"></audio>
<!-- END PRELOADS -->

<!-- START SCRIPTS -->
<!-- START PLUGINS -->
<script type="text/javascript" th:src="@{/static/js/plugins/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/jquery/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrap/bootstrap.min.js}"></script>

<!-- END PLUGINS -->

<!-- THIS PAGE PLUGINS -->
<script type="text/javascript" th:src="@{/static/js/plugins/datatables/jquery.dataTables.min.js}"></script>
<!-- END PAGE PLUGINS -->

<!-- START TEMPLATE -->
<script type="text/javascript" th:src="@{/static/js/plugins.js}"></script>
<script type="text/javascript" th:src="@{/static/js/actions.js}"></script>
<!-- END TEMPLATE -->
<!-- END SCRIPTS -->

</body>
</html>
