<div  class="page-sidebar"  th:fragment="sidebar" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- START X-NAVIGATION -->
    <ul class="x-navigation" >
        <li class="xn-logo">
            <a href="/">TITLE</a>
            <a href="#" class="x-navigation-control"></a>
        </li>

        <li class="xn-title">Navigation</li>
        <li>
            <a href="/"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
        </li>

    </ul>
    <!-- END X-NAVIGATION -->
</div>
